:root{
  --main-wrapper-max-witdht: 600px;
  --task-create-text-font-size: 14px;
}

.main {
  max-width: var(--main-wrapper-max-witdht);
  margin: 0 auto;
  padding: 32px 16px;
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: var(--title-margin-size);
  color: var(--title-color);
  text-align: center;
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.taskCreateText {
  font-size: var(--task-create-text-font-size);
}

.createButton {

}