.doneCard {
  background: #15101C;
  border: 0.1px solid #78CFB0;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pendingCard {
  background: #15101C;
  border: 0.1px solid #9E78CF;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.title {
  font-size: 16px;
}

.done {
  text-decoration: line-through;
  color: #78CFB0;
}
.pending {
  color: #9E78CF;
}

.actions {
  display: flex;
  gap: 12px;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.actions button:hover {
  color: #fff;
}
